body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.button-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.button {
    padding: 20px 30px;
    margin: 35px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.first {
    background-color: rgb(0, 76, 255);
    color: white;
}
.second {
    background-color: skyblue;
    color: white;
}

.second:hover {
    background-color: darkblue;
}
.fifth {
    border: 1px solid black;
    color: rgb(0, 0, 0);
}

.third {
    background-color: skyblue;
    color: white;
}

.third:active {
    background-color: darkblue;
}

.fourth {
    background-color: gray;
    color: white;
}

.fourth:hover {
    background-color: gray;
}

.eighth {
    background-color: rgba(62, 62, 62, 0.644);
    color: darkblue;
}


.ninth {
    background-color: transparent;
    color: darkblue;
    border: none;
}
.tenth {
    background-color: transparent;
    color: darkblue;
    border: none;
}


.tenth:hover {
    color: rgb(106, 106, 255);
}

.eleventh {
    background-color: transparent;
    color: darkblue;
    border: none;
}

.eleventh:active {
    color: skyblue;
}
.tweleth {
    background-color: rgba(62, 62, 62, 0.644);
    color: darkblue;
}
.thirteenth {
    background-color: rgb(0, 76, 255);
    color: white;
}

div .span {
    margin: 5px;
    float: left;
}